html,
body {
  width: 100%;
  background-color: #96ffd2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  /* display: block; */
  /* display: ; */
  /* position: relative; */
  /* top: 100px;
  left: 300px;
  width: 80%; */
  /* width: 768px;
  position: absolute;
  left: 50%;
  height: 50%;
  transform: translate(-50%, 0);
  /* transform: translate(-25%, 0); */
  /* height: 30%;
  width: 30%; */
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1vw; */
}

.title {
  text-align: center;
  width: 100%;
  /* position: fixed; */
  background-color: #88e3b3;


}

.titleItalic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

.titleNormal {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.newAlbum {
  font-family: "Sedan", serif;
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  /* margin: auto; */
  position: absolute;
  /* margin-top: 20%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
    position: relative;
    top: 10%;
  }
}



#addMark {
  position: relative;
  text-align: center;
  margin-top: 30%;
  font-size: 80px;
}

.btns {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 5w;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}


#record {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#play {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#save {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10vw;
}

#albumName {
  width: 300px;
  height: 30px;
  /* position: absolute;
  margin-top: 47%;
  margin-left: 50%;
  transform: translate(-50%, -50%); */

}

#inputBox {
  margin: auto;
}

#captureButton {
  /* width: 80; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#checkBoxAlbumName {
  text-align: center;
}

#checkBoxReverse {
  text-align: center;
}

#slideBar {
  margin: auto;
}

#colorPicker {
  margin: auto;
}

/* Select A Template */
.filterWrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  /* margin-left: 5%;
  margin-right: 5%; */
  /* margin-top: 2%; */
  /* column-gap: 2%;
  row-gap: 2%; */
  /* gap: 2vw 2vw; */
  gap: 1vw 0.5vw;
  flex-wrap: wrap;
  align-self: auto;
  justify-content: center;
}

.filterBox {
  background-color: #88e3b3;
  min-width: 320px;
  max-width: 400px;
  /* height: 320px; */
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 10px; */
}


#return {
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 1.5vw;
  width: 10vw;
  height: 4vw;
  margin: auto;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  background-color: #88e3b3;
}

#return:hover {

  width: 12vw;
  height: 6vw;
  background-color: #477e60;

}