html,
body {
  width: 100%;
  background-color: aquamarine;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  /* display: block; */
  /* display: ; */
  /* position: relative; */
  /* top: 100px;
  left: 300px;
  width: 80%; */
  width: 768px;
  position: absolute;
  left: 50%;
  height: 50%;
  transform: translate(-50%, 0);
  /* transform: translate(-25%, 0); */
  /* height: 30%;
  width: 30%; */
  background-color: blue;
}

.title {
  text-align: center;
  width: 100%;
  /* position: fixed; */
  background-color: aqua;


}

.titleItalic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

.titleNormal {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.newAlbum {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  /* margin: auto; */
  position: absolute;
  /* margin-top: 20%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
    position: relative;
    top: 10%;
  }
}

#addMark {
  position: relative;
  text-align: center;
  margin-top: 30%;
  font-size: 80px;
}

#capture {
  width: 60px;
  height: 40px;
  background-color: brown;
  position: relative;
  margin: auto;
  margin-top: 48.5%;
}

#wrapper {
  display: flex;
  flex-direction: column;

}

#albumName {
  width: 300px;
  height: 30px;
  position: absolute;
  margin-top: 47%;
  margin-left: 50%;
  transform: translate(-50%, -50%);

}