html,
body {
  width: 100%;
  height: 100%;
  background-color: #96ffd2;
  overflow-x: hidden;
  box-sizing: border-box;
}

.no-vertical-scroll {
  overflow-y: hidden !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  /* display: block; */
  /* display: ; */
  /* position: relative; */
  /* top: 100px;
  left: 300px;
  width: 80%; */
  /* width: 768px;
  position: absolute;
  left: 50%;
  height: 50%;
  transform: translate(-50%, 0);
  /* transform: translate(-25%, 0); */
  /* height: 30%;
  width: 30%; */
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1vw; */
}

.title {
  text-align: center;
  width: 100%;
  /* position: fixed; */
  background-color: #88e3b3;
  height: 1.1em;

}

.titleItalic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

.titleNormal {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.newAlbum {
  font-family: "Sedan", serif;
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  /* margin: auto; */
  position: absolute;
  /* margin-top: 20%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
    position: relative;
    top: 10%;
  }
}



#addMark {
  position: relative;
  text-align: center;
  margin-top: 30%;
  font-size: 80px;
}

.btns {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 5w;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}


#record {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#play {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#save {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 0.8vw;
  width: 4vw;
  height: 2vw;
  margin-top: 1vw;
  background-color: brown;
  /* position: relative; */
  margin: auto;
  /* margin-top: 48.5%; */
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10vw;
}

#albumName {
  width: 300px;
  height: 30px;
  /* position: absolute;
  margin-top: 47%;
  margin-left: 50%;
  transform: translate(-50%, -50%); */

}

#inputBox {
  margin: auto;
}

#captureButton {
  /* width: 80; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#checkBoxAlbumName {
  text-align: center;
}

#checkBoxReverse {
  text-align: center;
}

#slideBar {
  margin: auto;
}

#colorPicker {
  margin: auto;
}

/* Select A Template */
.filterWrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  /* margin-left: 5%;
  margin-right: 5%; */
  /* margin-top: 2%; */
  /* column-gap: 2%;
  row-gap: 2%; */
  /* gap: 2vw 2vw; */
  gap: 1vw 0.5vw;
  flex-wrap: wrap;
  align-self: auto;
  justify-content: center;
}

.filterBox {
  background-color: #88e3b3;
  min-width: 320px;
  max-width: 400px;
  /* height: 320px; */
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 10px; */
}


#return {
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 1.5vw;
  width: 10vw;
  height: 4vw;
  margin: auto;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  background-color: #88e3b3;
}

#return:hover {

  width: 12vw;
  height: 6vw;
  background-color: #477e60;
}

#sideMenuBtn {
  position: fixed;
  top: .1em;
  left: .2em;
  font-size: 1.2em;
  font-family: 'Sedan', serif;
  cursor: pointer;
  z-index: 1001;
  background: #88e3b3;
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -13.75em;
  width: 12.5em;
  height: 100%;
  background: #88e3b3;
  /* box-shadow: 0.125em 0 0.5em rgba(0, 0, 0, 0.1); */
  padding-top: 0.7em;
  transition: left 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu.open {
  left: 0;
}

.side-menu-categories {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1.5em;
}

.side-menu-link {
  padding: 1em 1.5em;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  transition: background 0.2s;
}

.side-menu-link:hover {
  background: #e0e0e0;
}

.side-menu-bottom {
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
}

.side-menu-signin {
  padding: 0.7em 2em;
  text-decoration: none;
  color: #fff;
  background: #477e60;
  border-radius: 1.5em;
  font-size: 1em;
  font-family: 'Sedan', serif;
  transition: background 0.2s;
}

.side-menu-signin:hover {
  background: #2d4d3a;
}

.side-menu a {
  padding: 1em 1.5em;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  transition: background 0.2s;
}

.side-menu a:hover {
  background: #477e60;
}

/* style.css */

/* --- 为登录后的侧边栏添加样式 --- */

/* 让包含欢迎信息和登出按钮的容器
  变成一个垂直居中的flex布局
*/
.side-menu-user {
  display: flex;
  flex-direction: column;
  /* 项目垂直排列 */
  align-items: center;
  /* 水平居中 */
  justify-content: center;
  /* 垂直居中 */
  gap: 0.5em;
  /* 在欢迎语和登出按钮之间增加一些间隙 */
  padding-bottom: 0.5em;
  /* 调整底部的内边距 */
}

/* 为欢迎语 <p> 标签设置样式 
  (可以根据你的喜好调整字体大小和颜色)
*/
.side-menu-user p {
  margin: 0;
  /* 移除默认的 margin */
  padding: 0;
  /* 移除默认的 padding */
  font-family: 'Sedan', serif;
  /* 和你网站的其他部分保持风格统一 */
  font-size: 0.9em;
  color: #333;
  /* 深灰色字体 */
}

/* 确保登出按钮和其他侧边栏链接样式一致 
*/
.side-menu-user .side-menu-signin {
  margin-top: 0.2em;
}